<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to 
  </h1>

  <img width="300" alt="Angular Logo" src="https://apkdl.in/apkimage/n9A9vbRH_HUGcRTJKO33kCLiYsXDmSULslNr_o-d22FBUnu-k-i5YINLnkFT_IW-Cw" >

</div>
  

<h2 style="text-align: center">Here are some Quotes </h2>
<p style="text-align: center">“Integrity Is The Most Valuable And Respected Quality Of Leadership. Always Keep Your Word.”</p>
    <!-- <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2> -->
  
<p style="text-align: center">“A friend is someone who knows all about you and still loves you.”</p>
    <!-- <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2> -->
 
  <p style="text-align: center">“Success is not final; failure is not fatal: It is the courage to continue that counts.”</p>
    <!-- <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2> -->

    <router-outlet></router-outlet>

  <!-- <h1 style="text-align: center">My Quotes</h1> -->
  <ul>
     <li *ngFor='let quote of Quotes'>
      {{quote.name}}
     </li>
  </ul>
  <p *ngIf='quotes.length > 5'>Your quotes are too many</p>

<app-quote></app-quote>
