<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  Heart Touching Quotes!
  </h1>

  <img width="350" alt="Angular Logo" src="https://apkdl.in/apkimage/n9A9vbRH_HUGcRTJKO33kCLiYsXDmSULslNr_o-d22FBUnu-k-i5YINLnkFT_IW-Cw" >

</div>
  <br>
  <br>style="background-color:gainsboro"
<div class= "contain-fluid" style="background-color:beige">
<h2 style="text-align: center">Here are some Quotes  that will guide you dairly</h2>
<p style="text-align: center">“Always Have faith in God”</p>
    
  
<p style="text-align: center">“A real friend is one who walks in when the rest of the world walks out.”</p>
   
 
  <p style="text-align: center">“The worst part of holding the memories is not the pain. It's the lonelin
  </div>
    <router-outlet></router-outlet>

  <ul>
     <li *ngFor='let quote of Quotes'>
      {{quote.name}}
     </li>
  </ul>
  <p *ngIf='quotes.length > 5'>Your quotes are too many</p>

<app-quote></app-quote>
