<!-- <p>quote-detail works!</p> -->
<p>
    {{quote.description}}
    <!-- <button (click)= 'quoteComplete(true)'>Like</button> -->
    <br>
    </p>
    <p>{{quote.author}}</p>
    <button (click)= 'quoteDelete(true)'  class="btn btn-outline-danger" style="display:inline-block;">Delete</button>
     <button (click)= 'qouteUpvote(true)'  class="btn btn-success"style="display:inline-block;">Upvote</button>
     <button (click)= 'quoteDownvote(true)'  class="btn btn-danger"style="display:inline-block;">Downvote</button>


<p> {{quote.completeDate|timeAgo}}</p>
<!-- <p> {{numberOfLikes}}</p>
<p> {{numberOfDislikes}}</p> -->
<!-- <button (click)='quoteDelete(true)' class="btn btn-danger">Delete Quote</button>
<button (click)='quoteLike()' class="btn btn-danger">Upvote</button>
<button (click)='quoteDislike()' class="btn btn-danger">Downvote</button> -->