<!-- <p>quote-detail works!</p> -->
<p>
    {{quote.description}}
    <!-- <button (click)= 'quoteComplete(true)'>Like</button> -->
    <br>
     <button (click)= 'quoteDelete(true)'  class="btn btn-outline-danger" style="display:inline-block;">Delete</button>
    
    </p>
     <button (click)= 'qouteUpvote(true)'  class="btn btn-success"style="display:inline-block;">Upvote</button>
     <button (click)= 'quoteDownvote(true)'  class="btn btn-danger"style="display:inline-block;">Downvote</button>


<p> {{quote.completeDate|timeAgo}}</p>